body {
  width: 100%;
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
}

#container {
  width: 70%;
}

.gambar {
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  margin-top: 100px;
}

.main {
  text-align: center;
}

.main h1 {
  font-size: 32px;
  font-weight: 700;
}

.main h3 {
  font-size: 24px;
  font-weight: 400;

}

p {
  font-size: 16px;
}
